<div class="content-categorias">
    <ul>
        <li><a href="/pages_categorias/html/fantasia.html">Fantasia</a></li>
        <li><a href="/pages_categorias/html/poema.html">Poema</a></li>
        <li><a href="/pages_categorias/html/comédia.html">Comédia</a></li>
        <li><a href="/pages_categorias/html/terror.html">Terror</a></li>
        <li><a href="/pages_categorias/html/romance.html">Romance</a></li>
        <li><a href="/pages_categorias/html/ação.html">Ação</a></li>
        <li><a href="/pages_categorias/html/suspense.html">Suspense</a></li>
    </ul>
</div>