<div class="content-categorias">
    <ul>
        <li><a href="{% url "categoria" : 'fantasia' %}">Fantasia</a></li>
        <li><a href="{% url "categoria" : 'poema' %}">Poema</a></li>
        <li><a href="{% url "categoria" : 'comedia' %}">Comédia</a></li>
        <li><a href="{% url "categoria" : 'terror' %}">Terror</a></li>
        <li><a href="{% url "categoria" : 'romance' %}">Romance</a></li>
        <li><a href="{% url "categoria" : 'acao' %}">Ação</a></li>
        <li><a href="{% url "categoria" : 'suspense' %}">Suspense</a></li>
    </ul>
</div>