{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Biblioteca virtual que visa ajudar alunos que gostam de ler livros da bibliotea da própria escola de forma digital!">
    <meta name="author" content="Descrição dos integrantes da equipe">
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'global/css/dashboard'%}.css">
    <title>Bilioteca virtual - {{ title }}</title>
    <link rel="shortcut icon" href="{% static 'global/img/favicon.ico' %}" type="image/x-icon">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link rel="stylesheet" href="{%static 'global/css/dashboard.css'%}">
</head>
    
