{% load static %}
<body>

    <!-- BARRAS DE MENU E SIDEBAR -->

    <header class="header container_lateral">
        <div class="logomarca"><img src="{% static "global/img/Logomarca.png" %}" alt="Logo marca Biblioteca virtual Liceu">
        </div>

        <nav class="header_nav">
            <ul class="list-main">
                <li>
                    <div id="barraDePesquisa">
                        <div class="input-container">
                            <input type="text" id="pesquisa_header" name="pesquisa" placeholder="pesquisa...">
                            <button id="filter-button" class="filter-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                                </svg>
                        </button>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/Pages_visitante/html/perfil.html" >
                    <img src="{% static "global/img/perfil.png" %}" alt="Imagem de perfil" class="img-perfil">
                    <h3 class="texto_perfil">Perfil</h3>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

<!-- BARRAS DE MENU E SIDEBAR -->








    <script src="js/home.js" ></script>
</body>